@if (Context.User.Identity.IsAuthenticated == false)
{
        <li class="nav-item">
            <a class="nav-link text-dark"
            asp-controller="Usuario"
            asp-action="Login">
                Login
            </a>
        </li>
        
}
else
{
        <li class="nav-item">
            <a class="nav-link text-dark"
            asp-controller="Usuario"
            asp-action="LogOut">
                Log Out <span style="color:salmon">
                @Context.User.Identity.Name
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark"
            asp-controller="Articulo"
            asp-action="VistaArticulos">
                  Articulos
            </a>
        </li>
}