<form method="post">
    <input type="text" name="nombre" placeholder="Nombre" />
    <input type="text" name="contrasenha" placeholder="Contraseña" />
    <button>
        LOG
    </button>
</form>

